    body{
background-color:#F0F2F5;
font-family:Verdana, Geneva, Tahoma, sans-serif
color: black;
}
.col-form{
text-align: left;
font-size: 11px;
text-transform: none;
text-decoration: none;
width:50%;
margin-left: 2px;
padding: 6px;

}
.whole{
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
top: 10%;
left: 15%;
justify-content: space-around;
position: absolute;
max-width: 1000px;
width: 1000px;
height: 100%;
}
h1{
font-weight: bold;
font-family: cursive;
text-transform: lowercase;
color:blue;
}
h2{
font-weight:normal;
text-decoration: none;
font-family:'Times New Roman', Times, serif;
letter-spacing: normal;
}
.container1{
height: 40%;
width: 33%;
background-color:#FFFFFF;
color: black;
margin: 2px;
border-radius: 6px;
}
.container2{
border-radius: 6px;
padding: 16px 55px;
height: 90%;
width: 60%;
margin: -9px;
}
.ip{
border: 1px solid #dddfe2;
width: 95%;
margin: 5px;
height: 30px;
padding-top: 5px;
padding-left: 6px;
}
.btn1{
width: 98%;
margin: 2px;
height: 35px;
border: transparent;
border-radius: 6px;
background-color: #1877F2;
color: white;
margin: 5px;
}
.btn2{
background-color: #42B72A;
height: 35px;  
margin: 5px; 
padding-inline-start: 5px;
color: white;
border:2px transparent;
border-radius: 6px;
margin-left: 32%;
}
.pass{
text-align: center;
color: #18A4F7;
justify-content: center;
margin-left: 32%;
}
hr{
line-height:  1.34;
}
.data{
width: 315px;
height: 280px;
margin-left:-42px;
}
.additional{
margin-left:60%;
margin-top: -30%;
text-decoration: none;
}
