p:hover { color: red; }
    ol,ul{ display: flex; }
    li { margin: 20px; 
      color:brown;}
    .p{ text-align: center:
    }
    .highlight{
      background-color: yellow
      font-weight: bold;
      color: red;
    }
    .done{
      text-decoration: line-through;
    }
